$colors: (
  bg: rgba(55, 66, 76, 1),
  theGreen: rgba(0, 173, 43, 1),
  theRed: rgba(194, 47, 51, 1),
  theOrange: rgba(255, 103, 0, 1),
  theRodeoPink: #f1a1a4,
  theRodeoBlue: #7f86b0,
  theYellow: rgb(221, 172, 94),
  theGray: rgb(78, 92, 107),
  theBackground: rgba(241, 227, 214, 1),
  theDarkGray: rgba(43, 50, 56, 1),
  theBrown: rgba(101, 42, 36, 1),
  bitByBitRed: rgba(240, 44, 80, 1),
  bitByBitBlue: rgba(0, 79, 136, 1),
  bitByBitBlonde: rgba(241, 227, 214, 1),
  coolGrey50: rgb(245, 247, 250),
  coolGrey100: rgb(228, 231, 235),
  coolGrey200: rgb(203, 210, 217),
  coolGrey300: rgb(154, 165, 177),
  coolGrey400: rgb(123, 135, 148),
  coolGrey500: rgb(97, 110, 124),
  coolGrey600: rgb(82, 96, 109),
  coolGrey700: rgb(62, 76, 89),
  coolGrey800: rgb(50, 63, 75),
  coolGrey900: rgb(31, 41, 51),
  grey200: rgb(255, 255, 255),
  grey400: rgb(170, 170, 170),
  grey600: rgb(61, 61, 61),
  grey800: rgb(33, 33, 33),
  grey1000: rgb(24, 24, 24),
  grey5000: rgb(12, 12, 12),
  grey10000: rgb(0, 0, 0),
);

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}

* {
  *::before,
  *::after {
    box-sizing: border-box;
    border: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
       border-radius: 0.25rem;

}

h1{ font-family: "museo";
    font-size: 6vw}



body {
  background-color: getColor(grey1000);
  display: flex;
  justify-content: center;
    align-items: center;
   margin: 0 auto;
  width: min(1300px, calc(80% + 100px));
  min-width: 0;
    caret-color: transparent;

}
body::-webkit-scrollbar {
  width: 12px;    
  
//   width: min(1000px, calc(70% + 100px));
}



.grid__container {
  display: grid;
    width: 95vw;
    flex-flow: row;
  gap: 1.75vw;
//   margin: auto;
//   width: min(60vw, 500px);
//   width: max(30vw, 500px);

//   overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr .75fr .5fr .5fr .5fr .5fr .5fr 0.25fr;
  height: 91vh;
  margin: 2rem;
  
  grid-template-areas:
    "header header"
    "display display"
    "portfolio-a portfolio-b"
    "portfolio-c portfolio-d"
    "portfolio-e portfolio-f"
    "portfolio-g portfolio-h"
    "footer footer";
}

.grid__item {
  background-color: getColor(grey800);
 
  
  
}

.grid__header {
  grid-area: header;
  background-color: getColor(grey800);
  padding-top: 3vw;
  padding-bottom: 1.5vw;
  

}

.grid__display {
  grid-area: display;
// padding: 2vw;
//    max-height: 330px;
 object-fit: contain;
  width: 100%;
  height: 100%;
  
  
}

.grid__sidebar {
  grid-area: sidebar;
  min-width: 100px;
}

.grid__portfolio {

  &-a {
    grid-area: portfolio-a;
  }
  &-b {
    grid-area: portfolio-b;
  }
  &-c {
    grid-area: portfolio-c;
  }
  &-d {
    grid-area: portfolio-d;
  }
  &-e {
    grid-area: portfolio-e;
  }
  &-f {
    grid-area: portfolio-f;
  }
  &-g {
    grid-area: portfolio-g;
  }
  &-h {
    grid-area: portfolio-h;
  }
}

.grid__footer {
  grid-area: footer;
//   padding: 1rem;
  padding-top: 1vw;
  padding-bottom: .5vw;
}

.flex__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}

h1{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.75),
             0px 8px 13px rgba(0,0,0,0.21),
             0px 18px 23px rgba(0,0,0,0.21);
}

h4 {
font-size: 3vw;
color: white;
text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.doit{
    position: absolute;
    top: 0;
    left: 2vw;
    z-index: 1000;
}

.flex__display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: getColor(grey800);
    border-radius: 0.25rem;
    overflow: hidden;
    justify-content:  space-around;

}


.flex__portfolio-a {
transition: all 0.2s; 
background-image:url("/img/9-02-21.1337-original-hummingbird-interior-downtown-fredericksburg.png"); 
}
.flex__portfolio-a img:hover {
transition: all 0.2s; 
background-image:url("/img/3-19-21.0627-original-magnolia-interior-fredericksburg.png"); 
}
.img-container {
  position: relative;
}

.img-container img {
  
//   vertical-align: middle;
//   object-fit: cover;
  transition: all .5s ease;
}

a{position: relative}

.img-container img:first-child {
  position: relative;
}

.img-container img:last-child {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
}

.img-container:hover img:last-child {
  opacity: 1;
}


img {

     border-radius: 0.25rem;
}


.text-a{

position: absolute;
top: 52vw;
left: 11vw;
font-size: 3.5vw;
z-index: 100;
}

.swiper {
    height: 100%;
 
}

.swiper-wrapper{

     position: relative;
     text-align: center;


}

.swiper-slide {
    width: 100%!important;
}

.swiper-slide img {
    background-color: red;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
  border-radius: 0.25rem;

}


#swiper-1 .swiper-pagination {
bottom: 1vw;
}
#swiper-1 .swiper-pagination-bullet {
opacity: 1;
background-color: white;

}
#swiper-1 .swiper-pagination-bullet-active {
opacity: 1;
background-color: red;

}

.swiper-title-1 {
position: absolute;
top: 0; left: 2vw;
    color: white;
}
.swiper-title-2 {
position: absolute;
top: 0; left: 2vw;
    color: white;
}
.swiper-title-3 {
position: absolute;
top: 0; left: 2vw;
    color: white;
}
.swiper-title-4 {
position: absolute;
top: 0; left: 2vw;
    color: white;
}









@media screen and (max-width: 800px) {
* {
  *::before,
  *::after {
    box-sizing: border-box;
    border: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
       border-radius: 0.25rem;

}

h1{font-size: 6vw}



body {
  background-color: getColor(grey1000);
  display: flex;
  justify-content: center;
    align-items: center;
   margin: 0 auto;
  width: min(1300px, calc(80% + 100px));
  min-width: 0;
    caret-color: transparent;

}
body::-webkit-scrollbar {
  width: 12px;    
  
//   width: min(1000px, calc(70% + 100px));
}



.grid__container {
  display: grid;
    width: 95vw;
    flex-flow: row;
  gap: 1.75vw;
//   margin: auto;
//   width: min(60vw, 500px);
//   width: max(30vw, 500px);

//   overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: .25fr .75fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr 0.25fr;
  height: 91vh;
  margin: 0rem;
  
  grid-template-areas:
    "header"
    "display"
    "portfolio-a"
    "portfolio-b"
    "portfolio-c"
    "portfolio-d"
    "portfolio-e"
    "portfolio-f"
    "portfolio-g"
    "portfolio-h"
    "footer";
}

.grid__item {
  background-color: getColor(grey800);
 
  
  
}

.grid__header {
  grid-area: header;
  background-color: getColor(grey800);
  padding-top: 3vw;
  padding-bottom: 1.5vw;
  

}

.grid__display {
  grid-area: display;
// padding: 2vw;
//    max-height: 330px;
 object-fit: contain;
  width: 100%;
  height: 100%;
  
  
}

.grid__sidebar {
  grid-area: sidebar;
  min-width: 100px;
}

.grid__portfolio {

  &-a {
    grid-area: portfolio-a;
  }
  &-b {
    grid-area: portfolio-b;
  }
  &-c {
    grid-area: portfolio-c;
  }
  &-d {
    grid-area: portfolio-d;
  }
  &-e {
    grid-area: portfolio-e;
  }
  &-f {
    grid-area: portfolio-f;
  }
  &-g {
    grid-area: portfolio-g;
  }
  &-h {
    grid-area: portfolio-h;
  }
}

.grid__footer {
  grid-area: footer;
//   padding: 1rem;
  padding-top: 1vw;
  padding-bottom: .5vw;
}

.flex__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}

h4 {
font-size: 3vw;
color: white;
text-shadow: 0px 4px 3px rgba(0,0,0,0.75),
             0px 8px 13px rgba(0,0,0,0.21),
             0px 18px 23px rgba(0,0,0,0.21);
}

.doit{
    position: absolute;
    font-size: 5vw;
    top: 2vw;
    left: 4vw;
    z-index: 1000;
}

.flex__display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: getColor(grey800);
    border-radius: 0.25rem;
    overflow: hidden;
    justify-content:  space-around;

}
.flex__item{

    position: relative;
}

.flex__portfolio-a {
transition: all 0.2s; 
background-image:url("/img/9-02-21.1337-original-hummingbird-interior-downtown-fredericksburg.png"); 
}
.flex__portfolio-a img:hover {
transition: all 0.2s; 
background-image:url("/img/3-19-21.0627-original-magnolia-interior-fredericksburg.png"); 
}
.img-container {
  position: relative;
}

.img-container img {
  
//   vertical-align: middle;
//   object-fit: cover;
  transition: all .5s ease;
}

a{position: relative}

.img-container img:first-child {
  position: relative;
}

.img-container img:last-child {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
}

.img-container:hover img:last-child {
  opacity: 1;
}


img {

     border-radius: 0.25rem;
}


.text-a{

position: absolute;
top: 52vw;
left: 11vw;
font-size: 3.5vw;
z-index: 100;
}

.swiper {
    height: 100%;
 
}

.swiper-wrapper{

     position: relative;
     text-align: center;


}

.swiper-slide {
    width: 100%!important;
}

.swiper-slide img {
    background-color: red;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
  border-radius: 0.25rem;

}


#swiper-1 .swiper-pagination {
bottom: 1vw;
}
#swiper-1 .swiper-pagination-bullet {
opacity: 1;
background-color: white;

}
#swiper-1 .swiper-pagination-bullet-active {
opacity: 1;
background-color: black;

}

.swiper-title-1 {
position: absolute;
top: 0; left: 4vw;
letter-spacing: -1;
    color: white;
}
.swiper-title-2 {
position: absolute;
top: 0; left: 2vw;
    color: white;
}
.swiper-title-3 {
position: absolute;
top: 0; left: 2vw;
    color: white;
}
.swiper-title-4 {
position: absolute;
top: 0; left: 2vw;
    color: white;
}}


// @media screen and (max-width: 800px) {
//   .grid__container {

// display: grid;
//     width: 95vw;
//     flex-flow: row;
//   gap: .25rem;
// //   margin: auto;
// //   width: min(60vw, 500px);
// //   width: max(30vw, 500px);

// //   overflow: hidden;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
//   grid-template-rows: 0.75fr 1.75fr 2fr 2fr 0.75fr;
//   height: 91vh;
//   margin: 2rem;

//       grid-template-areas:
//     "header header header header header"
//     "display display display display display"
//     "sidebar portfolio-a portfolio-a portfolio-a portfolio-a"
//     "sidebar portfolio-c portfolio-c portfolio-c portfolio-c"
//     "footer footer footer footer footer";



    
//   }

//   .grid__portfolio {
//   &-a {
//   }

//   &-b {
//   padding: .75rem;


//     display: none;
//   }
//   &-c {
//   }
//   &-d {
//   padding: rem;

//         display: none;

//   }
// }}

// @media screen and (min-width: 1200px) {

// .grid__container {}

    
// }