$colors: (
  bg: rgba(55, 66, 76, 1),
  theGreen: rgba(0, 173, 43, 1),
  theRed: rgba(194, 47, 51, 1),
  theOrange: rgba(255, 103, 0, 1),
  theRodeoPink: #f1a1a4,
  theRodeoBlue: #7f86b0,
  theYellow: rgb(221, 172, 94),
  theGray: rgb(78, 92, 107),
  theBackground: rgba(241, 227, 214, 1),
  theDarkGray: rgba(43, 50, 56, 1),
  theBrown: rgba(101, 42, 36, 1),
  bitByBitRed: rgba(240, 44, 80, 1),
  bitByBitBlue: rgba(0, 79, 136, 1),
  bitByBitBlonde: rgba(241, 227, 214, 1),
  coolGrey50: rgb(245, 247, 250),
  coolGrey100: rgb(228,231,235),
  coolGrey200: rgb(203,210,217),
  coolGrey300: rgb(154,165,177),
  coolGrey400: rgb(123,135,148),
  coolGrey500: rgb(97,110,124),
  coolGrey600: rgb(82,96,169),
  coolGrey700: rgb(30,30,30),
  coolGrey800: rgb(30,30,30),
  coolGrey900: rgb(30,30,30),
);

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}

* {
  box-sizing: border-box;
  border: none;
}

body {};

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Flex Two";
  src: url("../fonts/RobotoFlex-VariableFont_two.woff2");
  //font-style: normal;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("../fonts/RobotoFlex.woff2");
  font-weight: 100 - 700;
}
//@font-face {
//  font-family: "Roboto Slab";
//  src: url("../fonts/RobotoSlab-VariableFont_wght.woff2");
//}